* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
}
Link {
  text-decoration: none;
}
.overlay {
}
.slider-container {
  width: 100%;
  /* height: 300px; */
  overflow: hidden;
  display: flex;
  background: red;
}
.slider-container .slider-componnet-children {
  position: relative;
  height: 300px;
  width: 100%;
}
.slider-image {
  height: 100%;

  width: 100%;
}
.slider-image img {
  height: 100%;
}
.slider-componnet-children .slider-component-inner-text {
  position: absolute;
  bottom: 30%;
  width: 90%;
  line-height: 30px;
  transform: translate(5%, 25%);
  background: rgba(57, 52, 52, 0.8);
  padding: 15px;
  border-radius: 5px;
  left: 0;
}
.slider-componnet-children .slider-component-inner-text .slidertitle {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.slider-componnet-children .slider-component-inner-text .sliderauthor {
  color: white;
  font-size: 15px;
  padding: 10px;
}
.slider-componnet-children .slider-component-inner-text .sliderpublish {
  color: white;
  font-size: 15px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.main-container {
  width: fit-content;
  height: 200px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 5px;
  text-decoration: none;
  flex-direction: column;
  gap: 10px;
}
.content-image-container {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.content-image-container img {
  height: 100%;
  width: 100%;
}
.target-author p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.img-container {
  height: 100px;
  width: 100%;
}
.profile-container {
  height: 25px;
  border-radius: 25px;
  width: 25px;
  overflow: hidden;
}
.profile-container img {
  height: 100%;
  width: 100%;
}
.img-container img {
  height: 100%;
  width: 100%;
}
.content-name {
  display: flex;
  gap: 5px;
}
.foot {
  color: white;
  padding: 30px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background: black;
}
.nav-list {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}
.nav-list LINK {
  text-decoration: ;
}
.sidebar {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 100;
  width: 40%;
  background: lavender;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.title-container {
  font-size: 20px;
  padding: 20px 0px;
}
.description-container {
  color: rgb(149, 142, 142);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px 0px;
  font-size: 20px;
}
.news-content-container {
}
.author-container {
  padding: 5px;
  margin: 5px 0px;
  color: rgb(61, 61, 61);
}
.date {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.icons {
  padding: 15px;
  width: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons .font {
  color: blue;
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 4px 4px 10px rgba(0, 2, 0, 0.2),
    6px 6px 15px rgba(0, 0, 0, 0.1);
}
.main-content {
  line-height: 25px;
  margin: 5px 0px 20px 0px;
}
.read-more {
  background: red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  margin-top: 40px;
}
.outlet {
  min-height: 55rem;
  padding: 20px;
}
.icon-container .footer {
  font-size: 20px;
  color: azure;
}
.icon-container {
  margin: auto;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.active {
  background: red;
  padding: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.notActive {
  background: blue;
  padding: 5px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}
