* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  flex: 0 0 auto;
}
body {
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
Link {
  text-decoration: none;
}
/* .overlay {
} */
.navbar {
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
  z-index: 1000;
}
.close-contain {
  padding: 10px;
  color: black;
  font-weight: bold;
  position: fixed;
  right: 0;
  top: 0;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.bread {
  position: absolute;
  background-color: pink;
}
.navbar .navbar-logo {
  background: red;
  text-decoration: none;
  font-size: 12px;
  width: fit-content;
  font-style: italic;
  background: red;
  padding: 5px;
  font-family: Helvetica;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  color: lavender;
}
.slider-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  background: red;
}
.slider-container .slider-componnet-children {
  position: relative;
  height: 300px;
  width: 100%;
}
.slider-image {
  height: 100%;

  width: 100%;
}
.slider-image img {
  height: 100%;
}
.slider-componnet-children .slider-component-inner-text {
  position: absolute;
  bottom: 30%;
  width: 90%;
  line-height: 30px;
  transform: translate(5%, 25%);
  background: rgba(57, 52, 52, 0.8);
  padding: 15px;
  border-radius: 5px;
  left: 0;
}
.slider-componnet-children .slider-component-inner-text .slidertitle {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.slider-componnet-children .slider-component-inner-text .sliderauthor {
  color: white;
  font-size: 15px;
  padding: 10px;
}
.slider-componnet-children .slider-component-inner-text .sliderpublish {
  color: white;
  font-size: 15px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.main-container {
  max-width: fit-content;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  border-radius: 5px;
  text-decoration: none;
  flex-direction: column;
  gap: 10px;
}
.content-image-container {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.content-image-container img {
  height: 100%;
  width: 100%;
}
.target-author p {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.img-container {
  height: 100px;
  width: 100%;
}
.profile-container {
  height: 25px;
  border-radius: 25px;
  width: 25px;
  overflow: hidden;
}
.profile-container img {
  height: 100%;
  width: 100%;
}
.img-container img {
  height: 100%;
  width: 100%;
}
.content-name {
  display: flex;
  gap: 5px;
}
.foot {
  color: white;
  padding: 30px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  background: black;
}
.nav-list {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  gap: 10px;
}
.cate-container ul {
  height: 0;
  overflow: hidden;
}
.close-sidebar {
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  font-size: 15px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.close-side {
  position: fixed; /* Keep the sidebar fixed in the viewport */
  top: 0; /* Align to the top */ /* Align to the left */
  width: 1px; /* Set width as a percentage of the viewport */
  /* Set a minimum width */
  margin: auto;
  height: 100vh; /* Full height of the viewport */
  background-color: #f8f9fa; /* Background color */
  overflow-y: auto; /* Add vertical scrolling if content overflows */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.nav-icon {
  font-size: 25px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background-color: red;
  border: 1px solidred;
  color: white;
}
.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.title-container {
  font-size: 20px;
  padding: 20px 0px;
}
.description-container {
  color: rgb(149, 142, 142);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px 0px;
  font-size: 20px;
}
/* .news-content-container {
} */
.author-container {
  padding: 5px;
  margin: 5px 0px;
  color: rgb(61, 61, 61);
}
.date {
  font-size: 15px;
  color: rgb(116, 116, 116);
}
.icons {
  padding: 15px;
  width: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons .font {
  color: red;
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), 4px 4px 10px rgba(0, 2, 0, 0.2),
    6px 6px 15px rgba(0, 0, 0, 0.1);
}
.main-content {
  line-height: 25px;
  margin: 5px 0px 20px 0px;
}
.read-more {
  background: red;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  margin-top: 40px;
}
.outlet {
  min-height: 55rem;
  padding: 20px;
}
.icon-container .footer {
  font-size: 20px;
  color: azure;
}
.icon-container {
  margin: auto;
}
.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.active {
  background: red;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  color: black;
  transition: 0.4s;
  font-weight: bold;
}
.notActive {
  background: red;
  padding: 5px 10px;
  height: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}

.logins {
  margin: auto;
}
.logins .sign-in-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 25px;
}
.logins .sign-in-btns {
  padding: 5px 0;
}
.logins div label {
  font-size: 18px;
}
.logins button {
  background-color: red;
  justify-self: center;
  border: none;
  color: white;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
}
.logins div input {
  height: 50px;
  outline: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  line-height: 40px;
  overflow: hidden;
}
.login-page .login-container {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
}
.outlet {
  min-height: 100vh;
}
.categories {
  color: black;
  list-style: none;
  transition: 0.3s;
  cursor: pointer;
}
.categories li {
  border-bottom: 1px solid black;
  padding: 20px 3rem;
  cursor: pointer;
}
.navbar-search {
  padding: 7px;
  font-size: 15px;
  outline: none;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.navbar-toggle {
  font-size: 15px;
  padding: 5px;
  width: 30px;
  height: 25px;
  font-weight: bold;
  color: white;
  background: red;
  border: none;
  border-radius: 5px;
}
.categories ul {
  transition: 0.3s;
  overflow: hidden;
  background-color: blue;
  color: yellow;
}
.real-side {
  background-color: blue;
}
